/venv/
/.idea/
/results/Images/
/results/Images Removed/
/results/Files for Lydia Ray/
/results/Skin Tone Bar Graph.spv
/results/Skin Tone Bar Graph.pdf
/results/SPSS Dataset.sav
/results/skin_tone_data.xlsx
/results/gender_data.xlsx
/results/modified_data.xlsx
/results/predicted_data.csv
/scripts/.env
